useDynLib("rqpen")

import(quantreg) 
import(regpro)
importFrom("graphics", "lines", "plot")
importFrom("stats", "coefficients", "predict", "quantile", "residuals",
             "sd", "xtabs")
export(kernel_estimates)
export(kernel_weights)
export(check)
export(pos_part)
export(lasso)
export(scad)
export(scad_deriv)
export(mcp)
export(mcp_deriv)
export(square)
export(randomly_assign)
export(model_eval)
export(qbic)
S3method("coef","cv.rq.pen")
export(rq.lasso.fit.mult)
export(cv.rq.pen)
export(rq.lasso.fit)
S3method("predict","rq.pen")
S3method("predict", "cv.rq.pen")
export(rq.nc.fit)
export(beta_plots)
export(cv_plots)
export(getRho)
export(cv.rq.group.pen)
S3method("coef","cv.rq.group.pen")
export(rq.group.fit)
export(group_derivs)
export(rq.group.lin.prog)
export(groupQICD)
export(groupMultLambda)
export(nonzero)
S3method(plot,cv.rq.group.pen)
S3method("nonzero","cv.rq.group.pen")
export(QICD)