useDynLib("rqPen", .registration = TRUE)

import(quantreg) 
import(regpro)
import(hqreg)
importFrom(splines, bs)
importFrom("graphics", "lines", "plot")
importFrom("stats", "coefficients", "predict", "quantile", "residuals",
             "sd", "xtabs", "fitted","weighted.mean")
importFrom("methods", "is")
export(kernel_estimates)
export(kernel_weights)
export(check)
export(pos_part)
export(lasso)
export(scad)
export(scad_deriv)
export(mcp)
export(mcp_deriv)
export(square)
export(randomly_assign)
export(model_eval)
export(qbic)
export(qic)
export(qic.select)
S3method("coef","cv.rq.pen")
export(rq.lasso.fit.mult)
export(cv.rq.pen)
export(rq.lasso.fit)
S3method("predict","rq.pen")
S3method("predict", "cv.rq.pen")
export(rq.nc.fit)
export(beta_plots)
export(cv_plots)
export(getRho)
export(cv.rq.group.pen)
S3method("coef","cv.rq.group.pen")
S3method("print","rq.pen")
S3method("print","cv.rq.pen")
S3method("print","qic.select")
export(rq.group.fit)
export(group_derivs)
export(rq.lla)
export(rq.enet)
export(rq.group.lin.prog)
export(groupMultLambda)
export(nonzero)
S3method(plot,cv.rq.group.pen)
S3method("nonzero","cv.rq.group.pen")
export(print.cv.rq.pen)
export(print.rq.pen)
export(QICD)
export(QICD.nonpen)
export(QICD.group)
export(QICD.master)
export(LASSO.fit)
export(LASSO.fit.nonpen)
export(qaSIS)
export(rq.lasso)